<div id="<%= dom_id planvital %>">
  <p>
    <strong>Date:</strong>
    <%= planvital.date %>
  </p>

  <p>
    <strong>Funda:</strong>
    <%= planvital.fundA %>
  </p>

  <p>
    <strong>Fundc:</strong>
    <%= planvital.fundC %>
  </p>

  <p>
    <strong>Funde:</strong>
    <%= planvital.fundE %>
  </p>

</div>
