
  <% if user_signed_in? %>
<%
    def format_number(number)
      whole, decimal = number.to_s.split(".")
      num_groups = whole.chars.to_a.reverse.each_slice(3)
      whole_with_commas = num_groups.map(&:join).join('.').reverse
      "$  " + [whole_with_commas, decimal].compact.join(",")
    end
%>


<div class="card">
  <div class="card-header" >
    
AFP plan vital
  </div>
  <div class="card-body">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
          </svg>
          <i class="bi bi-table"></i>
        <a class="navbar-brand" href="#">Cuadro Resúmen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
         
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Búsqueda</button>
          </form>
        </div>
      </div>
    </nav>



    

<!--<table class="table table-striped">-->
<table class="table table-striped table-sm">
  <thead >
    <tr>
      <th>#</th>
      <th>Fecha</th>
      <th>Fondo A</th>
      <th>V%A</th>
      <th>Fondo C</th>
      <th>V%C</th>
      <th>Fondo E</th>
      <th>V%E</th>
      <th>A-E</th>
    </tr>
  </thead>

<% if @pager.count > 0 %>

    
 <% a = 1 %>
 <% c = 1 %>
 <% e = 1 %>
 <% n = 1 %>

  <% @pager.each do |planvital| %>
  <%

    va= planvital["fundA"]
    vc= planvital["fundC"]
    ve= planvital["fundE"]
    difAE = (va.to_f - ve.to_f).round(2)
  %>
  
  <tr>
    <td><%= n  %></td>
    <td><%= planvital["date"].to_date  %></td>
    <td><%= number_to_currency(va, unit: "$ ") %></td>
    <td><%= number_to_percentage((va/a-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(vc, unit: "$ ")  %></td>
    <td><%= number_to_percentage((vc/c-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(ve, unit: "$ ")  %></td>
    <td><%= number_to_percentage((ve/e-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(difAE, unit: "$ ")  %></td>
  </tr>
  <% a = va  %>
  <% c = vc  %>
  <% e = ve  %>
  <% n = n + 1  %>

  <% end %>
  </table>
  
  <div class="container pagination justify-content-center" >
    <%=paginate @pager  %>
  </div>

  <%else%>
    <h1>No hay resultados para la búsqueda</h1>
  <%end%>


  <% end %>


  </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Variación % Fondos de Pensiones</div>
  <div class="card-body text-primary">
</div>

    <table class="card-body text-primary">
      <tr>
        <td>
          <h5 class="card-title"></h5>
          <p class="card-text"></p></td>
        <td>
          <h5 class="card-title">-0.7%</h5>
          <p class="card-text">Fondo A</p>
        </td>
        <td>
          <h5 class="card-title">0.7%</h5>
          <p class="card-text">Fondo C</p>
        </td>
        <td>
          <h5 class="card-title">1.7%</h5>
          <p class="card-text">Fondo E</p>
        </td>
      </tr>
    </table>
   
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Variación % Fondos de Pensiones</div>
  <div class="card-body">
    
  </div>
  
    <table>
    <tr >
    <td>
      <h5 class="card-title">-0.7%</h5>
      <p class="card-text">Fondo A</p>
    </td>
    <td><h5 class="card-title">0.7%</h5>
      <p class="card-text">Fondo C</p></td>
    <td><h5 class="card-title">1.7%</h5>
      <p class="card-text">Fondo E</p></td>
    </tr>
    </table>
</div>


