<%
    def format_number(number)
      whole, decimal = number.to_s.split(".")
      num_groups = whole.chars.to_a.reverse.each_slice(3)
      whole_with_commas = num_groups.map(&:join).join('.').reverse
      "$  " + [whole_with_commas, decimal].compact.join(",")
    end
%>

<p style="color: green"><%= notice %></p>

<h1>AFP Plan vital</h1>

<h1>Cuadro Resúmen %></h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>Fecha</th>
      <th>Fondo A</th>
      <th>V%A</th>
      <th>Fondo C</th>
      <th>V%C</th>
      <th>Fondo E</th>
      <th>V%E</th>
      <th>A-E</th>
    </tr>
  </thead>


<div id="planvitals">
    
 <%a=0%>
 <%c=0%>
 <%e=0%>
  <% @planvitals["quotaValues"].each do |planvital| %>
  <%

    va= planvital["fundA"]
    vc= planvital["fundC"]
    ve= planvital["fundE"]
    difAE = (va.to_f - ve.to_f).round(2)
  %>
  
  <tr>
    <td><%= planvital["date"].to_date  %></td>
    <td><%= number_to_currency(va, unit: "$ ") %></td>
    <td><%= number_to_percentage((va/a-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(vc, unit: "$ ")  %></td>
    <td><%= number_to_percentage((vc/c-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(ve, unit: "$ ")  %></td>
    <td><%= number_to_percentage((ve/e-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(difAE, unit: "$ ")  %></td>
  </tr>
  <% a = va  %>
  <% c = vc %>
  <% e = ve  %>
  <% end %>
  </table>
  
    <%= link_to "no haga click", new_planvital_path %>
  
</div>


