<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ejercicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <%=link_to "Plan Vital", planvitals_path, class: "nav-link" %>
        </li>
     
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<%
    def format_number(number)
      whole, decimal = number.to_s.split(".")
      num_groups = whole.chars.to_a.reverse.each_slice(3)
      whole_with_commas = num_groups.map(&:join).join('.').reverse
      "$  " + [whole_with_commas, decimal].compact.join(",")
    end
%>

<p style="color: green"><%= notice %></p>

<h1>AFP Plan vital</h1>
<h1>Cuadro Resúmen</h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>Fecha</th>
      <th>Fondo A</th>
      <th>V%A</th>
      <th>Fondo C</th>
      <th>V%C</th>
      <th>Fondo E</th>
      <th>V%E</th>
      <th>A-E</th>
    </tr>
  </thead>

<% if @pager.count > 0 %>

    
 <% a = 1 %>
 <% c = 1 %>
 <% e = 1 %>
  <% @pager.each do |planvital| %>
  <%

    va= planvital["fundA"]
    vc= planvital["fundC"]
    ve= planvital["fundE"]
    difAE = (va.to_f - ve.to_f).round(2)
  %>
  
  <tr>
    <td><%= planvital["date"].to_date  %></td>
    <td><%= number_to_currency(va, unit: "$ ") %></td>
    <td><%= number_to_percentage((va/a-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(vc, unit: "$ ")  %></td>
    <td><%= number_to_percentage((vc/c-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(ve, unit: "$ ")  %></td>
    <td><%= number_to_percentage((ve/e-1)*100, precision: 2,format: "%n %")%></td>
    <td><%= number_to_currency(difAE, unit: "$ ")  %></td>
  </tr>
  <% a = va  %>
  <% c = vc  %>
  <% e = ve  %>
  <% end %>
  </table>
  
  <br><br>
<%=paginate @pager %>
<br><br>

<%else%>
<h1>No hay resultados para la búsqueda</h1>
<%end%>


<div class="b-example-divider"></div>


<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

     

      <div class="col-4 offset-1">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2021 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>
